<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- CSS -->

    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <!-- /CSS -->
    <!-- 스타일 -->
    <style>
        #topButton {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
        }
    </style>
    <!-- /스타일 -->
</head>
<!-- 상단 바  -->
<header th:replace="~{/fragments/customer-navigation :: headerFragments}"></header>
<!-- /상단 바 -->

<body>
<!-- 메인 컨테이너 -->
<main class="col">
    <!-- 상품 리트스 테이블 컨테이너-->
    <div class="container p-5">
        <!-- 현재 페이지의 제품의 수량 알림 -->

        <div th:unless="${paging.totalElements == 0}" class="ps-3 mb-4 ">
            <span th:text="${paging.totalElements + '건 중'}"></span>
            <span
                    th:text="${(paging.number + 1) + (paging.number * 20) - paging.totalPages + (paging.totalPages - paging.number)}"></span>
            - <span th:text="${(paging.number * 20) + #lists.size(paging.content) + '건'}"></span>
        </div>

        <!-- 현재 페이지의 제품의 수량 알림 -->

        <div class="position-absolute top-50 start-50" th:if="${paging.totalElements == 0}">등록된 상품이 없습니다.</div>

        <!-- 그리드 레이아웃 -->
        <div class="container">
            <!-- 카드 -->
            <div class="row justify-content-start">
                <div class="col-3" th:each="productlist : ${paging.content}">
                    <div class="card mb-3" style="width: 18rem">
                        <a th:href="@{/customer/product/detail/{productId} (productId=${productlist.productId})}"
                           class="text-black text-decoration-none">
                            <img th:src="${productlist.mainImagePath}" class="card-img-top" alt="상품 대표 이미지"
                                 style="height:18rem;"/>
                            <div class="card-body">
                                <p class="card-text">
                                <p th:text="${productlist.productName}" class="text-decoration-none"
                                   style="height:50px;"></p>
                                <p th:text="${productlist.sellingPrice + ' 원'}" id="sellingPrice"
                                   class="text-decoration-line-through text-secondary"></p>
                                <span th:text="${productlist.discountRate + '%'}" id="discountRate" class="fw-semibold"
                                      style="color: #ff0000;"></span>
                                <span th:text="${productlist.discountPrice + ' 원'}" id="discountPrice" class="fw-semibold"></span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /카드 -->

        </div>
        <!-- /그리드 레이아웃 -->
    </div>
</main>

<!-- 페이지네이션 -->
<nav aria-label="Page navigation" th:if="${paging.totalElements > 20}">
    <ul class="pagination justify-content-center pagination-sm">

        <!-- 1번 페이지 버튼 -->
        <li class="page-item" th:classappend="${paging.hasPrevious()} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/customer/product/list(page=0)}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <!-- /1번 페이지 버튼 -->

        <!-- 이전 버튼 -->
        <li class="page-item" th:classappend="${paging.hasPrevious()} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/customer/product/list(page=${currentPage - 1})}" aria-label="Previous">
                <span aria-hidden="true"> &lt; </span>
            </a>
        </li>
        <!-- /이전 버튼 -->

        <!-- 페이지 번호 -->
        <li class="page-item"
            th:each="pageNum : ${#numbers.sequence(currentPage - 3 > 0 ? currentPage - 3 : 0,
                                               currentPage + 3 < paging.totalPages - 1 ? currentPage + 3 : paging.totalPages - 1)}"
            th:classappend="${pageNum == currentPage} ? 'active' : ''">
            <a class="page-link" th:href="@{/customer/product/list(page=${pageNum})}" th:text="${pageNum + 1}"></a>
        </li>
        <!-- /페이지 번호 -->

        <!-- 다음 버튼 -->
        <li class="page-item" th:classappend="${paging.hasNext()} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/customer/product/list(page=${currentPage + 1})}" aria-label="Next">
                <span aria-hidden="true">></span>
            </a>
        </li>
        <!-- /다음 버튼 -->

        <!-- 마지막 페이지 버튼 -->
        <li class="page-item" th:classappend="${paging.hasNext()} ? '' : 'disabled'">
            <a class="page-link" th:href="@{/customer/product/list(page=${paging.totalElements / 20 - 1})}"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <!-- /마지막 페이지 버튼 -->
    </ul>
</nav>
<!-- /페이지네이션 -->
<!-- Top버튼 -->
<div>
    <button class="btn btn-secondary " type="button" id="topButton"> Top</button>
</div>
<!-- /Top버튼 -->
</body>

<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

<script>
   

          //top버튼
          const topButton = document.getElementById("topButton");

          // Top 버튼 클릭 시 상단으로 스크롤
          topButton.addEventListener('click', function () {
              window.scrollTo({
                  top: 0
              });
          });

    // 공통 함수: 소수점 제거 및 천 단위 구분
  function formatAndUpdatePrices(selector, suffix) {
    const elements = document.querySelectorAll(selector);
    elements.forEach(element => {
      const value = parseFloat(element.textContent.replace(/[^0-9.]/g, "")) || 0; // 숫자 추출
      const formattedValue = Math.floor(value).toLocaleString(); // 소수점 제거 및 포맷
      element.textContent = formattedValue + suffix; // 값 업데이트
    });
  }


  formatAndUpdatePrices("#sellingPrice", "원");
  formatAndUpdatePrices("#discountPrice", "원");
  formatAndUpdatePrices("#discountRate", "%");
</script>
</html>